.game-board-root{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100px);
}

.game-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}