.game-root {
    /* height: 100%; */
    margin-top: 0px;
    background: #ebe7e1;
    display: flex;
    flex-direction: row;
}

.game-board-root{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100px);
}

.game-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board-info {
    z-index: 1;
    width: 1500px;
    height: 100%;
}