.lobby-root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lobby-background {
    /* width: 1920px; */
    /* height: 1080px; */
    position: fixed;
    left: 0;
    top: 0;
}

.lobby-items {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.lobby-items .top-row {
    display: flex;
    flex-direction: row;
    gap: 0px 250px;
}

.lobby-items .bottom-row {
    display: flex;
    flex-direction: row;
    gap: 0px 250px;
    margin-top: -300px;
    margin-left: 387px;
    width: fit-content;
}


.lobby-item {
    width: 500px;
    height: 500px;
    margin: 10px;
}

.lobby-video {
    width: 500px;
    height: 500px;
    -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
    /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
    clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
    transition: 0.2s;
    cursor: pointer;
}

.lobby-host-online-back, .lobby-join-online-back, .lobby-local-back {
    background: black;
    width: 510px;
    height: 510px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
    -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.grayed-out {
    filter: grayscale(0.5) blur(2px);
    transition: 0.2s;
}

.lobby-host-online-text, .lobby-join-online-text, .lobby-local-text {
    position: absolute;
    pointer-events: none;
    top: 150px;
    width: 450px;
    transition: 0.5s;
    filter: grayscale(0.1);
}

.lobby-host-online-text {
    top: 370px;
}

.zoomed-in {
    transform: scale(1.05);
    filter: grayscale(0);
    transition: 0.5s;
}