.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100vw;
  height: 100vh;
  background: url('../Images/LobbyBack-transformed-resized.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center;

  /* Important Addition */
  overflow: hidden; 
}

.lobby-header {
    display: flex;          /* Make header a flexbox  */
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
}

.lobby-title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    font-size: 48px;
    font-family: "Calligraffitti", cursive;
}

.lobby-version {
    font-size: 22px;
    color: #aaa;
}

.lobby-body {
    display: flex;          /* Make body a flexbox */
    flex-direction: column; /* Arrange items vertically within the body */
    align-items: center;
    width: 80%;
    margin: auto;
    /* Remove justify-content: space-around;  */
}


.lobby-button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.lobby-button-container button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.lobby-public-private {
  display: flex;          
  justify-content: space-around; 
  width: 100%; 
  margin-top: 20px;
}
.lobby-card {
  width: 100%; /* Adjust as needed */
  height: 520px;
  /* border: 1px solid #ddd; */
  /* padding: 20px; */
  margin: 10px;
  border-radius: 5px;
  /* background-color: black; */
  opacity: 1;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); Adds a subtle shadow */
  background-repeat: no-repeat;
  background-size: 100% 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;
  transition: 0.4s;
}

@keyframes flipCard {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.lobby-card-flipped {
  transition: 0.4s;
  animation: flipCard 0.4s ease;
}

.lobby-card-background {
  width: 100%;
  height: 100%;
}

.lobby-section { 
    display: flex;         /* Turn each section into a flex container */
    flex-direction: column; /* Arrange H1 and button vertically */
    align-items: center;   /* Center the elements horizontally within the section */
    color: black;
    font-weight: bold;
    font-family: "Calligraffitti", cursive;
    padding-top: 50px;
}


.lobby-public-private button {
    background-color: #ccc;
    color: #000;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.lobby-back {
    display: flex;          
    justify-content: flex-start; /* Change from 'left' to 'flex-start' */
    margin: auto;
    width: 100%;
    padding-left: 250px;

}

.lobby-back-button {
    background-color: #ccc;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.lobby-Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .lobby-sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lobby-sign svg {
    width: 17px;
  }
  
  .lobby-sign svg path {
    fill: white;
  }
  /* text */
  .lobby-text-btn {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .lobby-Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
    font-family: "Calligraffitti", cursive;
  }
  
  .lobby-Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .lobby-Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
    font-family: "Calligraffitti", cursive;
  }
  /* button click effect*/
  .lobby-Btn:active {
    transform: translate(2px ,2px);
  }
.lobby-fancy {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .lobby-fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: white;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .lobby-fancy .lobby-text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
   }
   
   .lobby-fancy .lobby-top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .lobby-fancy .lobby-bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .lobby-fancy .lobby-bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .lobby-fancy:hover {
    color: white;
    background: black;
   }
   
   .lobby-fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .lobby-fancy:hover .lobby-text {
    color: white;
    padding-left: 1.5em;
   }
   
   .lobby-fancy:hover .lobby-top-key {
    left: -2px;
    width: 0px;
   }
   
   .lobby-fancy:hover .lobby-bottom-key-1,
    .lobby-fancy:hover .lobby-bottom-key-2 {
    right: 0;
    width: 0;
   }

   .lobby-input {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
   }

   .lobby-private-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   }