
@keyframes loadin {
    0% {
        transform: translateY(calc(100vh));
    }
    100% {
        opacity: 1;
    }
}

@keyframes loadBlur {
    0% {
        -o-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        -o-filter: blur(1.5px);
        filter: blur(1.5px);
    }
}

.login-root {
    /* background: green; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.login-background-video {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    /* max-width: 100%; */
    min-height: 100%;
    /* max-height: 100%; */
    -o-filter: blur(1.5px);
    filter: blur(1.5px);
    animation: loadBlur 4s ease-in;

}

.login-scroll-login {
    position: absolute;
    animation: loadin 4s ease;
}