.map-root {
    width: 600px;
    height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: rotation 2s;
    transform-style: preserve-3d;
    transform: rotateX(45deg);
}